#home {
    height: 100vh;
    width: 100vw;
    top: 10vh;
    display: flex;
    background: #efefef url("../image/background.jpg") no-repeat;
    background-position: center center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    transition: height 200ms ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home h1 {
    width: 40vw;
    height: 10vh;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2.7em;
    color: #0f76bb;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

#firstName, #lastName {
    width: 30vw;
}
#homeName span {
    opacity: 0;
    transition: all .5s ease;
    transform: translateY(-150px);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#homeName span.fade {
    opacity: 1;
    transform: translateY(0px);
}
/* @media screen and (max-aspect-ratio: 1/1) {
    #home {
        height: 100vh;
        width: 100vw;
    }
} */